.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.red {
    background-color: red;
    color: white;
}

.red:hover {
    background-color: darkred;
}

.secondary {
    background-color: gray;
    color: white;
}

.secondary:hover {
    background-color: darkgray;
}