.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.default {
    background-color: blue; 
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.secondary {
    background-color: gray;
    color: white;
}

.button:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}